*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dashboard-color: rgb(24, 152, 211);
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  width: 100vw;
}

.dashboard {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--dashboard-color);
  color: white;
}

.dashboard-title {
  display: flex;
  align-items: baseline;
  margin-left: 25px;
}

.dashboard h1 {
  padding: 15px;
  font-size: 1.5rem;
}

.dashboard ul {
  padding-top: 30px;
}

.dashboard li {
  padding: 7px;
  margin-left: 20px;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 450;
}

.mdi {
  font-size: 1.3rem;
}

.dashboard a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.header {
  grid-column: 2;
}

.content {
  grid-column: 2;
  grid-row: 2 / -2;
  background-color: rgb(238, 238, 238);
}