*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dashboard-color: rgb(24, 152, 211);
  --content-color: rgb(223, 223, 223);
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  width: 100vw;
}

.dashboard {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--dashboard-color);
  color: white;
}

.dashboard-title {
  display: flex;
  align-items: baseline;
  margin-left: 25px;
}

.dashboard h1 {
  padding: 15px;
  font-size: 1.5rem;
}

.dashboard ul {
  padding-top: 30px;
}

.dashboard li {
  padding: 7px;
  margin-left: 20px;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 450;
}

.mdi {
  font-size: 1.3rem;
}

.dashboard a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.header {
  grid-column: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.search {
  padding: 15px 30px;
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

header .mdi {
  font-size: 1.2rem;
}

.search-input {
  background-color: var(--content-color);
  border: none;
  border-radius: 15px;
  padding: 5px;
  width: 100%;
  min-width: 200px;
}

.profile {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
  font-weight: 600;
}

.profile img {
  height: 2rem;
}

.greeting {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.greeting-text p:first-of-type {
  font-size: 0.75rem;
}

.greeting-text p:last-of-type {
  font-size: 1.2rem;
}

.greeting img {
  height: 3rem;
}

.buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: start;
}

.input-file {
  display: none;
}

.buttons button,
.input-file-label {
  background-color: var(--dashboard-color);
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
}

.content {
  display: grid;
  background-color: var(--content-color);
  grid-template-columns: 2fr 1fr;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  gap: 30px;
  font-size: 0.85rem;
}

.projects h2,
.announcements h2,
.trending h2 {
  margin: 30px 0 0 15px;
  font-size: 1rem;
}

.project-cards h3,
.announcements h3,
.trending h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}

.announcements h3 {
  font-size: 0.9rem;
}

.project-card {
  height: 200px;
  width: 350px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: white;
  border-left: 8px solid orange;
  color: grey;
  overflow: auto;
}

.second-column {
  display: flex;
  flex-direction: column;
}

.announcement-board hr {
  text-align: center;
  margin: 10px 0;
}

.announcements h2,
.trending h2 {
  margin: 10px 0 20px 0;
}

.announcements {
  padding: 15px;
}

.announcement-board {
  background-color: white;
  padding: 15px 30px;
  width: 300px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.trending-board {
  background-color: white;
  padding: 15px 30px;
  width: 300px;
  border-radius: 10px;
}

.trending {
  padding: 15px;
}

.user {
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
  padding: 10px;
}

.user div p:last-child {
  color: grey;
}

.user img {
  height: 2rem;
}